
.cards{
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
    grid-template-rows: 1fr;
    gap: 10px;

}
.card{
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0 0 3px ;
    padding: 20px;    
}
.testimonial__title {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: var(--vertClair);
}

.card__image{
    width: 100%;
    display: block;
}
.card__text{
    line-height: 1.5em;
    font-size: .7em;
    padding: .3em;
}
.card__text p{
    line-height: 1.5em;
    font-size: .9em;
    padding: .3em;
}
.card__text h3{
    color: var(--vertClair);
}
.card__text h5{
    font-style: italic;   
}
.card__social i{
    padding: 10px;
    font-size: 12px;
    display: inline-block;  
}
